@import './header.css';
@import './nav.css';
@import './card.css';
@import './filtrar.css';
@import './product.css';
@import './login.css';
@import './pedidos.css';
@import './footer.css';

.filter {
  display: none;
}
.filtermobile {
  border: 1px solid red;
  margin: 10px;
}
.filtermobile__button {
  display: flex;
  justify-content: flex-end;
  margin: 10px auto;
}
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  background: red;
}
/* Medidas */
@media screen and (min-width: 481px) {
  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cards__card {
    width: 70%;
  }
  .nav__toggle {
    display: flex;
    right: 0;
  }
}
@media screen and (min-width: 768px) {
  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cards__card {
    width: 100%;
  }
  .nav__toggle {
    display: flex;
    right: 0;
  }
}
@media screen and (max-width: 990px) {
  .navbar__search {
    width: 100%;
}
  .nav__pay{
    justify-content: center;
  }
.nav__carrito{
  margin: 0 !important;
}
}
@media screen and (min-width: 1024px) {
  /* body{
      
  } */
  .filter {
    display: flex;
  }
  .filtermobile {
    display: none;
  }
}


@media screen and (min-width:220px){
    .gris_product_tittle{
        text-align: center;
        margin-left: auto;
        margin-top: 5px;
        margin-bottom: 5px;
   }
   .container{
       padding-left: 0px;
   }
   .color_product_tittle{
       margin-right: auto;
       margin-top: 5px;
       text-align: center;
   }
   .margin_foto {
       margin-left: 100px;
       margin-right: 100px;
   }
   .row-cols-2 > * {
       max-width: 100%;
   }
   .col{
       text-align: center;
       margin-left: 0px;
       padding-left: 0px;
       padding-right: 0;
   }
   .name_product {
       margin-top: 10px;
   }
   .Row_colum{
       display: contents;
   }
}
@media screen and (min-width:420px){

.gris_product_tittle{
     text-align: center;
     margin-left: auto;
     font-size: 20px;
     text-align: center;
     margin-top: 0px;
}
.container{
    padding-left: 0px;
}
.color_product_tittle{
    margin-right: auto;
    font-size: 20px;
    text-align: center;
    margin-top: 0px;
}
.margin_foto {
    margin-left: 100px;
    margin-right: 100px;
}
.row-cols-2 > * {
    max-width: 100%;
}
.media-body col{
    text-align: center;
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0;
}
.Row_colum{
    display: flex;
}

}
.margin_foto {
    margin-left: auto;
    margin-right: auto;
    padding-right: 50px;
    padding-left: 50px;
}

.name_product {
    margin-top: 10px;
}

@media screen and (min-width:578px){

    .containerP_margin {
        margin-left: 1px;
    }
    .color_product_tittle{
      font-size: 24px;
    }
    .gris_product_tittle{
        margin-left: 5px;
        font-size: 24px;

    }
    .margin_foto {
        margin-right: 0px;
        margin-left: 0px;
        padding-right: 0;
        padding-left: 0;
    }
    .Row_colum{
        display: flex;
    }

    .name_product{
        font-size: 20px;
    }

}
@media screen and (min-width:768px){
    .containerP_margin{
        margin-left: 50px;
    }
    .row-cols-md-2 > * {
        max-width: 50%;
    }
    .margin_foto{
        margin-right: 0px;
    }
    .gris_product_tittle{
        margin-left: 40px;
    }
    .Row_colum{
        display: flex;
    }
    .name_product{
      font-size: 24px;
  }

}
@media screen and (min-width:992px){
    .margin_foto{
        margin-right: 0px;
    }
    .containerP_margin{
        margin-left: 124px;
    }

    .gris_product_tittle{
        margin-left: 144px;
    }
    .Row_colum{
        display: flex;
    }
}
@media screen and (min-width:1200px){
  .gris_product_tittle{
    margin-left: 184px;
}
}
