@import './header.css';
@import './nav.css';
@import './card.css';
@import './filtrar.css';
@import './product.css';
@import './login.css';
@import './pedidos.css';
@import './footer.css';


.navbar__image {
  width: 80%;
  height: 80px;
}
.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar-light .navbar-nav .nav-link {
  color: white;
  display: flex;
  align-items: center;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: white;
}
.navbar-light .navbar-brand{
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar__search{
  margin-right: 7px;
}
.navbar__search-form {
  background: #0000;
  width: 85%;
  margin-right: 20px !important;
}

.gg-search {
  color: white;
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 16px;
  height: 16px;
  border: 2px solid;
  border-radius: 100%;
  margin-left: -4px;
  margin-top: -4px;
}
.gg-user {
  color: white;
  margin-right: 20px;
  box-sizing: border-box;
  width: 3px;
  height: 18px;
}
.navbar__sign {
  display: flex;
  color: white;
}
.navbar__sign h6{
  margin: 0 5px 4px 0;
  
}
.navbar__sign:active {
  display: flex;
  color: white;
}
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  background: black;
  border: 0;
}
/* ///////////// */
/* Estilos del Menu */
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav__link {
  font-size: 14px;
  color: #858585;
  margin: 0;
}
.nav__components input{
  border-style: none;
}
.nav__carrito {
  border-radius: 36px;
  background-color: #18ce94;
  padding: 13px 12px 13px 17px;
  justify-content: space-evenly !important;
  margin-right: 23px;
}
.nav__carrito h5 {
  margin: 0;
  font-size: 19px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  margin-right: 13px;
  line-height: 19px;
}
.carrito__number {
  width: 19px;
  border-radius: 12px;
  color: #ffffff;
  display: table;
  background: #000000;
  padding: 4px;
  margin-left: 9px;
}
.carrito__number h4 {
  font-size: 14px;
  margin: 0 6px;
}
.nav__link:hover {
  font-size: 14px;
  background: #18ce94;
  color: white;
  margin: 0;
}
.nav__select {
  font-size: 14px;
  background: #18ce94;
  color: white;
  margin: 0;
}
.nav-item {
  display: flex;
}
/* //////////////////////// */
/* Esitlos de los cards */
.cards {
  width: 100%;
  padding: 20px;
}
a {
  text-decoration: none;
  color: #000000;
}
a:hover {
  color: #000000;
  text-decoration: none;
  border: none;
}
.cards__title {
  text-align: center;
  font-size: 20px;
}
.cards__card {
  width: 60%;
  border-radius: 10px;
  margin: 10px auto;
  box-shadow: 0px 10px 20px #dcd9fa;
}
.cards__body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding: 2px;
  text-align: center;
}
.card-title {
  font-size: 16px;
  margin: 0;
}
.cards__body:hover {
  background: #18ce94;
  color: white;
  border-radius: 0px 0px 10px 10px;
  cursor: pointer;
  transition: 0.2s;
}
.cards__image {
  height: 10px;
}
.filter {
  display: none;
}
.filtermobile {
  border: 1px solid red;
  margin: 10px;
}
.filtermobile__button {
  display: flex;
  justify-content: flex-end;
  margin: 10px auto;
}
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  background: red;
}

/* //////////////////////// */
/* Estilos del footer*/

.footer_container{
  height: 208px;
  margin: 0px;
  margin-top: 100px; 
  /* solid */
  background: #000000;
  bottom: 0px;
  justify-content: center;

}
.footer_container div{
  text-align: center;
}
.footer_logo{
  text-align: center;
  
}
.footer_derechos{
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  top: 50px;

  /* secundario */
  color: #18CE94;
}
.row{
  margin-right: 0px;
  margin-left: 0px;
}
.container-fluid, .container-lg, .container-md, .container-sm, .container-xl{
  padding: 0px;
}
/*------------------- FILTER ---------------------*/
.filtrar {
  width: 226px;
  margin: 50px 0;
  left: -28px;
  position: relative;
  background: #ffffff;
  box-shadow: 0px 10px 20px #dcd9fa;
  border-radius: 15px;
  flex-direction: column;
  justify-content: center;
  display: flex;
  align-items: center;
  line-height: 0;
}
.filtrar__input {
  position: relative;
  margin: 47px 0;
}
.input__title {
  margin: 0;
  font-family: "Raleway", sans-serif;
  color: #c4c4c4;
}

.filtrar__principalInput-radio,
.filtrar__subInput-radio {
  opacity: 0;
  position: absolute;
  cursor: pointer;
  z-index: 1;
}

.subInput {
  margin: 1px 15px;
  display: flex;
  top: 13px;
  position: relative;
  line-height: 0;
}
.subInput > .input__title {
  font-size: 14px;
  line-height: 16px;
}

.principalInput {
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 42px;
}
.principalInput > .input__title {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
}

.principalInput__custom {
  width: 22px;
  height: 22px;
}
.filtrar__principalInput-radio {
  width: 135px;
  height: 21px;
  right: 15px;
}
.subInput__custom {
  width: 15px;
  height: 15px;
}
.filtrar__subInput-radio {
  width: 130px;
  height: 16px;
  position: relative;
  top: 30px;
}
.input__custom {
  background-image: url("../img/input1.png");
  display: inline-block;
  margin-right: 0.5rem;
  background-size: cover;
}
.filtrar__principalInput-radio:checked + .principalInput .input__custom,
.filtrar__subInput-radio:checked + .subInput .input__custom {
  background-image: url("../img/input2.png");
}
.filtrar__principalInput-radio:checked + .principalInput .input__title {
  color: #18ce94;
}
.toggle__color {
  color: #18ce94;
}
.toogle__inputCustom {
  background-image: url("../img/input2.png");
}
.category {
  width: 100%;
  display: flex;
}
.categories {
  width: 50vw;
}

/*--------------------------------*/

/* Medidas */
@media screen and (min-width: 481px) {
  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cards__card {
    width: 70%;
  }
  .nav__toggle {
    display: flex;
    right: 0;
  }
  .navbar__search {
    height: 50px;
    width: 100%;
    flex-direction: row-reverse;
}
.navbar__search-form{
  left: 98px;
  padding-top: 0;
}
.gg-search{
  
  left: 55px;
  transition: 2s;
  position: absolute;
}
.nav__pay{
    justify-content: center;
  }
.nav__carrito{
  margin: 0 !important;
  border: solid 3px;
  width: 70%;
}
.navbar__sign{
  height: 50px;
  padding-left: 45px !important;
}
}

@media screen and (min-width: 576px) {
  .navbar__search-form{
    left: 98px !important;
    padding-top: 0 !important;
    width: 70% !important;
    position: absolute;
    border-radius: 20px;
  }
}


@media screen and (min-width: 768px) {
  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cards__card {
    width: 100%;
  }
  .nav__toggle {
    display: flex;
    right: 0;
  }
  .navbar__search-form{
    left: 98px !important;
    padding-top: 0 !important;
    width: 78% !important;
    position: absolute;
  }
}



@media screen and (min-width: 991px) {
  .navbar__search-form{
    left: 0px !important;
    padding-top: 0 !important;
    width: auto !important;
    position: relative;
  }
  .navbar__search{
    flex-direction: row;
  }
  .gg-search{
    left: 0px ;
    transition: 2s;
    position: relative;

  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem !important;
}
.nav__carrito{
  margin-right: 23px !important;
  border: none;
  width: auto;
}
}
@media screen and (min-width: 1024px) {
  /* body{
      
  } */
  .filter {
    display: flex;
  }
  .filtermobile {
    display: none;
  }
}


@media screen and (min-width:220px){

  .footer_container{
    height: 100px;
  }
  .footer_logo{
    text-align: center;
    width: 30%;
  }
    .gris_product_tittle{
        text-align: center;
        margin-left: auto;
        margin-top: 5px;
        margin-bottom: 5px;
   }
   .container{
       padding-left: 0px;
   }
   .color_product_tittle{
       margin-right: auto;
       margin-top: 5px;
       text-align: center;
   }
   .margin_foto {
       margin-left: 100px;
       margin-right: 100px;
   }
   .row-cols-2 > * {
       max-width: 100%;
   }
   .col{
       text-align: center;
       margin-left: 0px;
       padding-left: 0px;
       padding-right: 0;
   }
   .name_product {
       margin-top: 10px;
   }
   .Row_colum{
       display: contents;
   }
}
@media screen and (min-width:420px){
  .footer_container{
    height: 150px;
  }
  .footer_logo{
    text-align: center;
    width: 120px;
  }

.gris_product_tittle{
     text-align: center;
     margin-left: auto;
     font-size: 20px;
     text-align: center;
     margin-top: 0px;
}
.container{
    padding-left: 0px;
}
.color_product_tittle{
    margin-right: auto;
    font-size: 20px;
    text-align: center;
    margin-top: 0px;
}
.margin_foto {
    margin-left: 100px;
    margin-right: 100px;
}
.row-cols-2 > * {
    max-width: 100%;
}
.media-body col{
    text-align: center;
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0;
}
.Row_colum{
    display: flex;
}

}
.margin_foto {
    margin-left: auto;
    margin-right: auto;
    padding-right: 50px;
    padding-left: 50px;
}

.name_product {
    margin-top: 10px;
}



@media screen and (min-width:578px){
  .footer_container{
    height: 150px;
  }
  .footer_logo{
    text-align: center;
    width: 150px;
  }

    .containerP_margin {
        margin-left: 1px;
    }
    .color_product_tittle{
      font-size: 24px;
    }
    .gris_product_tittle{
        margin-left: 5px;
        font-size: 24px;

    }
    .margin_foto {
        margin-right: 0px;
        margin-left: 0px;
        padding-right: 0;
        padding-left: 0;
    }
    .Row_colum{
        display: flex;
    }

    .name_product{
        font-size: 20px;
    }

}

@media screen and (min-width:768px){
  .footer_container{
    height: 200px;
  }
  .footer_logo{
    text-align: center;
    width: 200px;
  }
    .containerP_margin{
        margin-left: 50px;
    }
    .row-cols-md-2 > * {
        max-width: 50%;
    }
    .margin_foto{
        margin-right: 0px;
    }
    .gris_product_tittle{
        margin-left: 40px;
    }
    .Row_colum{
        display: flex;
    }
    .name_product{
      font-size: 24px;
  }

}
@media screen and (min-width:992px){
    .margin_foto{
        margin-right: 0px;
    }
    .containerP_margin{
        margin-left: 124px;
    }

    .gris_product_tittle{
        margin-left: 144px;
    }
    .Row_colum{
        display: flex;
    }
}
@media screen and (min-width:1200px){
  .gris_product_tittle{
    margin-left: 184px;
}
}
/*-----------------------------------------------------------------------------------------------------------------*/
